.tags-module {
    position: relative !important;
    overflow: hidden;
    height: 100% !important;
    /* width: 10px; */
    /* border: 5px solid black !important; */
    max-height: 250px !important;
}

/* .long-tag-table{
    height: 300px !important;
} */

#file-info h6 {
    display: inline-block;
    width: 80px;
}

#spinner {
    /* width:50px !important; */
    /* height:300px !important; */
}

#file-info .image-stats h6{
    width: 100px !important;
}