<!DOCTYPE html>
<html lang="en">

<head>
  <title>Admin Esic</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <script src="js/detectMobile.js"></script>
  <!--===============================================================================================-->
  <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="css/util.css" />
  <link rel="stylesheet" type="text/css" href="css/auth.css" />
  <!--===============================================================================================-->
</head>

<body>
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <div id="login-form-1" class="login100-form validate-form">
          <span class="login100-form-title p-b-26">
            <!-- <i class="zmdi zmdi-font"></i> -->
            <img src="images/web.png" class="image-center" alt="Esic" srcset="" />
          </span>
          <span class="login100-form-title p-b-48"> Admin Login </span>

          <div class="wrap-input100 validate-input" data-validate="Valid email is: a@b.c">
            <input id="email-usr" class="input100" type="text" name="email" />
            <span class="focus-input100" data-placeholder="Email"></span>
          </div>

          <div class="wrap-input100 validate-input" data-validate="Enter password">
            <span class="btn-show-pass"> <i class="zmdi zmdi-eye"></i> </span>
            <input id="passwd-usr" class="input100" type="password" name="pass" />
            <span class="focus-input100" data-placeholder="Password"></span>
          </div>
          <div id="err-msg-lgn"></div>

          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <button id="login-btn" class="login100-form-btn">Login</button>
            </div>
          </div>

          <div class="text-center p-t-60">
            <span class="txt1"> Don’t have an account? </span>

            <a id="lgn-switch" class="txt2" href="#"> Sign Up </a>
          </div>
        </div>

        <div id="rgn-form-1" class="login100-form validate-form">
          <span class="login100-form-title p-b-10">
            <!-- <i class="zmdi zmdi-font"></i> -->
            <img src="images/web.png" class="image-center" alt="Esic" srcset="" />
          </span>
          <span class="login100-form-title p-b-48">Admin Registration</span>

          <div class="wrap-input100 validate-input" data-validate="Valid email is: a@b.c">
            <input id="email-reg" class="input100" type="text" name="email" />
            <span class="focus-input100" data-placeholder="Email"></span>
          </div>

          <div class="wrap-input100 validate-input" data-validate="Enter password">
            <span class="btn-show-pass"> <i class="zmdi zmdi-eye"></i> </span>
            <input id="passwd-reg" class="input100" type="password" name="pass" />
            <span class="focus-input100" data-placeholder="Password"></span>
          </div>

          <div class="wrap-input100 validate-input" data-validate="Enter password Confirmation">
            <span class="btn-show-pass"> <i class="zmdi zmdi-eye"></i> </span>
            <input id="conf-reg" class="input100" type="password" name="pass" />
            <span class="focus-input100" data-placeholder="Confirm Password"></span>
          </div>
          <div id="err-msg-reg"></div>
          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <button id="reg-btn" class="login100-form-btn">Register</button>
            </div>
          </div>

          <div class="text-center p-t-60">
            <span class="txt1">Already have an account? </span>

            <a id="rgn-switch" class="txt2" href="#"> Sign In </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="dropDownSelect1"></div>
  <script>
    document.getElementById("rgn-form-1").style.display = "none";
    function changeUi(i = 0) {
      var lgnFrm = document.getElementById("login-form-1");
      var rgnFrm = document.getElementById("rgn-form-1");
      if (i == 1) {
        lgnFrm.style.display = "none";
        rgnFrm.style.display = "block";
      } else {
        lgnFrm.style.display = "block";
        rgnFrm.style.display = "none";
      }
    }

    document
      .getElementById("rgn-switch")
      .addEventListener("click", function () {
        changeUi();
      });
    document
      .getElementById("lgn-switch")
      .addEventListener("click", function () {
        changeUi(1);
      });
  </script>
  <!--===============================================================================================-->
  <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
  <!--===============================================================================================-->
  <script src="vendor/animsition/js/animsition.min.js"></script>
  <!--===============================================================================================-->
  <script src="vendor/bootstrap/js/popper.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <!--===============================================================================================-->
  <script src="vendor/select2/select2.min.js"></script>
  <!--===============================================================================================-->
  <script src="vendor/daterangepicker/moment.min.js"></script>
  <script src="vendor/daterangepicker/daterangepicker.js"></script>
  <!--===============================================================================================-->
  <script src="vendor/countdowntime/countdowntime.js"></script>
  <!--===============================================================================================-->
  <script src="js/login.js"></script>
</body>

</html>