<!doctype html>
<html class="no-js h-100" lang="en">

<head>

  <%var vid = true;%>
  <%var page="All Notification-Esic Admin"%>
  <% include ./partials/header %>
 <!--===============================================================================================-->
 <!-- <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css"> -->
 <!--===============================================================================================-->
 <!-- <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css"> -->
 <!--===============================================================================================-->
 <link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">

 <!-- <link rel="stylesheet" href="css/table.css"> -->



</head>

<body class="h-100">
 
 
 <div class="container-fluid">
  <div class="row">

   <!-- Main Sidebar -->
   <% include ./partials/nav-aside %>

   <!-- End Main Sidebar -->
   <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
     <% include ./partials/nav-main %>
    <!-- / .main-navbar -->
    <div class="main-content-container container-fluid px-4">
      <!-- Page Header -->
      <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
          <span class="text-uppercase page-subtitle">Videos Dashboard</span>
          <h3 class="page-title">All Videos</h3>
        </div>
      </div>
      <!-- End Page Header -->
      enter something here
    </div>
     <% include ./partials/footer %>
    
    
   </main>


  </div>
 </div>
 


 <% include ./partials/dependencies %>

 <script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
 <script>
  // $('.js-pscroll').each(function () {
  //  var ps = new PerfectScrollbar(this);

  //  $(window).on('resize', function () {
  //   ps.update();
  //  })
  // });


 </script>
 <!--===============================================================================================-->

</body>

</html>